.card {
  position: relative;
  margin: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  border-radius: 6px;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:20px;
  
  overflow: hidden;
  background: #29282B;
}
